/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;																																												
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.main-grids {
  padding: 0 0 1em 1em;
}

/*-- Slider Part starts Here --*/


/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:15px;
  width:15px;
  display:inline-block;
  border:2px solid #FFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border: 2px solid #FFFFFF;
	background: #FFF;
}
a.btn.btn-primary.btn-lg.see-button.hvr-shutter-out-horizontal {
    background: #3F3C35;
}
.animated-grids {
  margin-bottom: 7em;
}
.header-right{
	float:left;
}
.resent{
	margin:1em 0;
}
.resent-grid {
	padding-left: 0.1em;
}
.resent-grid-img{
	position:relative;
}
.resent-grid-img iframe{
  width: 100%;
  height: 642px;
}
.resent-grid-img a{
	display:block;
}
.resent-grid a img{
	width:100%;
}
.time{
  position: absolute;
  top: 92% !important;
  right: 0%;
  display: block;
}
.small-time {
    top: 87% !important;
    z-index: 9;
}
.slider-time{
    top: 90% !important;
    z-index: 9;
}
.show-time {
  top: 87% !important;
}
.movie-time {
    top: 94% !important;
}
.time p{
  font-size: 12px;
  margin: 0;
  color: #FFF;
  padding: .2em .5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
}
.clck {
  position: absolute;
  bottom: 1%;
  right: 9%;
  display: block;
  z-index: 9;
}
.small-clck{
  right: 12%;
  bottom: 2%;
}
.glyphicon-time:before {
  content: "\e023";
  color: #fff;
  font-size: 1em;
}
.show-clock {
    right: 22%;
    bottom: 1%;
}
.movie-clock {
  right: 15%;
  bottom: 1%;
}

/*
.resent-grid-img:hover div.time{
	display:none;
}
.resent-grid-img:hover div.clck {
  display: block;
}*/
.resent-info h3{
	font-size:23px;
	color:#000;
	font-weight:600;
	margin:1em 0;
	font-family: 'Oswald', sans-serif;
}
.resent-grid-info{
    background: #f7f7f7;
    padding: 1em;
}
.resent-grid-info a.title{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #525254;
}
.resent-grid-info a.title:hover{
    transition: inherit;
    text-decoration: underline;
}
.resent-grid-info p.author{
  font-size: 14px;
  color: #9E9E9E;
  margin: .5em 0;
}
.resent-grid-info p.author a.author{
    color: #21DEEF;
    text-decoration: none;
    padding-left: 1.8em;
    background: url(../images/u12.png) no-repeat 0px 1px;
}
.resent-grid-info p.author a.author:hover{
    text-decoration: none;
}
.resent-grid-info p.views{
  font-size: 14px;
  color: #9E9E9E;
  margin: 0;
}
/*-- recommended --*/
.recommended-grids {
    margin: 5em 0;
}
.recommended-info h3{
    font-size: 20px;
    color: #181818;
    margin: 2em 0 2em 0;
    font-weight: 600;
}
.recommended-info p{
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
    line-height: 1.8em;
}
.recommended-grid-info a.title{
    font-size: 14px;
    line-height: 1.3em;
}
.recommended-grid-info h3 {
  margin: 0;
  overflow: hidden;
  height: 54px;
}
.recommended-grid-info h5 {
  margin: 0;
  overflow: hidden;
  height: 34px;
}
.resent-grid-info a.title-info{
    font-size: 18px;
}
.recommended-grid-info p.author {
    font-size: 13px;
    margin: 0 0 0 0;
}
.resent-grid-info ul{
	padding:0;
	margin:0 0 0 0;
}
.resent-grid-info ul li{
	display:inline-block;
}
.recommended-grid-infoo ul{
	padding:0 !important;
	margin:0 !important;
}
.recommended-grid-info ul li{
    display: inline-block !important;
    width: 49%;
}
.recommended-grid-info ul li.right-list{
   text-align:right;
}
.resent-grid-info p.author-info{
    font-size: 15px;
    font-weight: 600;
}
.resent-grid-info p.views {
    font-size: 13px;
}
.resent-grid-info p.views-info{
    font-size: 12px;
}
.slid-bottom-grids{
	margin: 2em 0 0 0;
}
.slid-bottom-grid {
    float: left;
    width: 35%;
}
.slid-bottom-right{
    float: left;
    width: 65%;
    text-align: right;
}
.slid-bottom-grid p {
    margin: 0 !important;
}
.recommended-grid-info {
    box-shadow: 0px 0 2px #C1C1C1 !important;
    background: none;
}
.heading{
	float:left;
}
.heading-right{
    float: left;
    margin: .5em 0 0 3em;
}
.heading-right a{
    padding: 8px 20px;
    background: #21DEEF;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.heading-right a:hover{
	background: #F7F7F7;
    color: #272C2E;
}
.heading-right a:focus {
    border: none !important;
    outline: none;
}
.english-grid {
    margin-top: 1em;
}
/*-- footer --*/

/*-- single --*/
.song {
    width: 80%;
    float:left;
    align:middle;
}
.song-grid-right{
    width: 80%;
    float:left;
    align:middle;
}
.song iframe{
	width:80%;
	height:350px;
	align:middle;
}
.song-info {
    padding-left: 0;
    padding: 0 0 1em;
}
.song-info h3{
  color: #272C2E;
  font-size: 22px;
  margin: 0;
  line-height: 1.5em;
}
.video-grid iframe {
    border: none;
    height: 376px;
    align:middle;
}

/*-- shows --*/
.show-top-grids {
  padding: 0 1em 0 0;
}
.show-grid-right{
    background: #f7f7f7;
    padding: 3em 0 0 3em;
}
.single-right{
	background: #f7f7f7;
    padding: 3em 0 0 3em;
}
.show-right-grids {
  margin-bottom: 1.5em;
}
.show-grid-right h3{
    font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.single-right h3{
	font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.show-right-grids ul {
  padding: 0;
  margin: 2em 0 0 0;
}
.show-right-grids ul li{
  display: inline-block;
  margin-left: 1em;
}
.show-right-grids ul li:nth-child(1){
	margin:0;
}
.show-right-grids ul li a{
    font-size: 13px;
    color: #9E9E9E;
    margin: 1em 0;
}
.show-right-grids ul li a:hover{
    text-decoration: underline;
    color: #21DEEF;
}
.show-right-grids ul li a img {
	width: 100%;
}
/*-- history --*/
.recommended-info p.history-text {
	font-size: 13px;
    color: #9E9E9E;
    margin: 0;
    line-height: 1.8em;
}
.recommended-info p.history-text span{
	display:block;
	margin:1em 0 0 0;
}
.history-left {
    width: 90px !important;
    height: 90px;
    background: #C5C5C5;
}
.history-left p{
    font-size: 17px;
    color: #272C2E;
    margin: 1.7em 0 0 0;
    font-weight: 600;
    text-align: center;
}
.history-grids {
    margin: 5em 0;
}
.history-right h5{
  font-size: 18px;
  color: #181818;
  margin: 0 0 .5em 0;
  font-weight: 600;
}
.history-right p{
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
    line-height: 1.8em;
}
/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #272C2E;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 3px;
    -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/*-- single --*/
.single-main{
	padding: 4em 1em 0 0;
}
.single-left {
  padding-bottom: 2em;
}
.song-info-left {
  float: left;
}
/*-- published --*/

/*-- load-more --*/

/*-- try --*/

@media (max-width: 1280px) {
	.time {
		top: 91% !important;
	}
	.clck {
		right: 11%;
	}
	.small-clck {
		right: 14% !important;
	}
	.small-time {
		top: 85% !important;
	}
	.show-time {
		top: 85% !important;
	}
	.show-clock {
		right: 26%;
	}
	.slider-time {
		top: 88% !important;
	}
	.history-left {
		width: 83px !important;
		height: 83px;
	}
	.movie-time {
		top: 93% !important;
	}
	.movie-clock {
		right: 17% !important;
	}
	.sports-clock {
		right: 21% !important;
	}
	.sports-tome {
		top: 80% !important;
	}
}
@media (max-width: 1080px) {
	form.navbar-form.navbar-right {
		width: 47%;
	}
	.header-top-right {
		margin: .5em 0;
	}
	.sidebar {
		padding: 0 10px 20px 10px;
	}
	.time {
		top: 89% !important;
	}
	.clck {
		right: 13%;
	}
	.slid-bottom-grid {
		width: 51%;
	}
	.slid-bottom-right {
		width: 49%;
	}
	.resent-grid-info p.author a.author {
		padding-left: 1.5em;
	}
	.small-clck {
		right: 17% !important;
	}
	.small-time {
		top: 83% !important;
	}
	.slider-time {
		top: 86% !important;
	}
	.show-video-grid {
		width:33.33% !important;
		margin-bottom: 2em;
	}
	.show-time {
		top: 90% !important;
	}
	.show-clock {
		right: 17%;
		bottom: 2%;
	}
	.show-grid-right {
		padding: 1em 0 0 1em;
	}
	.show-grid-left {
		width: 80%;
	}
	.show-grid-right {
		width: 20%;
	}
	.history-right {
		width: 90%;
	}
	.movie-clock {
		right: 22% !important;
		bottom: 2%;
	}
	.recommended-grid-movie-info ul li {
		display: block !important;
		width: 100%;
	}
	.recommended-grid-movie-info ul li.right-list {
		text-align: left;
	}
	.sports-tome {
		top: 74% !important;
	}
	.sports-clock {
		right: 25% !important;
	}
	span.glyphicon.glyphicon-user {
		font-size: 5em;
	}
	.about-left-img span.glyphicon-envelope {
		font-size: 5em;
	}
	.about-left-info a {
		font-size: 18px;
	}
	.song-grid-right {
		width: 18%;
		margin-left: 1em;
	}
	.share li {
		font-size: 13px;
	}
	.share li a {
		font-size: 13px;
	}
	.song-info h3 {
		font-size: 20px;
	}
	.single-right-grid-right {
		padding: 0;
	}
	.single-right-grid-right a.title {
		font-size: 13px;
	}
	.callbacks_nav {
		right: 7%;
	}
}
@media (max-width: 1024px) {
	form.navbar-form.navbar-right {
		width: 43%;
	}
	.slid-bottom-grid {
		width: 50%;
	}
	.slid-bottom-grid {
		width: 100%;
		float: none;
	}
	.slid-bottom-right {
		text-align: left;
	}
	.recommended-grid-info ul li {
		display: block;
		width: 100%;
	}
	.recommended-grid-info ul li.right-list {
		text-align: left;
	}
	.history-right {
		width: 88%;
	}
	.share li {
		font-size: 12px;
	}
	.show-grid-right h3 {
		font-size: 15px;
	}
	.sports-recommended-grid {
	    width: 33.33% !important;
		margin-bottom: 2em !important;
	}
	.sports-tome {
		top: 84% !important;
	}
	.sports-clock {
		right: 16% !important;
		bottom: 4%;
	}
}
@media (max-width: 991px) {
	body {
		padding: 0;
	}
	nav.navbar.navbar-inverse.navbar-fixed-top {
		position: inherit;
	}
	.t-menu{
		float:left;
	}
	.t-img{
		float:right;
	}
	form.navbar-form.navbar-right {
		width: 41%;
	}
	.sidebar {
		float: none !important;
		position: inherit;
		width: 100%;
	}
	.recommended-grid {
	    float: left;
		width: 25%;
		margin-bottom: 2em;
	}
	.slider-top-grids {
		width: 33.33% !important;
		float: left !important;
	}
	.side-bottom {
	    position: inherit;
		padding: 2em 0;
	}
	.drop-navigation{
		display: none;
		margin-top: 1em;
	}
	.top-navigation {
	     display: block;
		padding: 20px;
		cursor: pointer;
		font-size: 2em;
		color: #FFF;
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	ul.nav-sidebar {
		display: block;
		margin: 0;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 35em;
	}
	.sidebar{
	    padding:0;
		margin: 0;
	}
	.sidebar ul.nav-sidebar li {
	    display: block;
	}
	.sidebar ul li a {
	  padding: .3em 0;
	  display: block;
	  float: none;
	  color: #FFFFFF;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 39em !important;
	}
	.main {
		padding: 2em 0 0 0;
		float: none !important;
		margin: 0;
		width: 100%;
	}
	.show-grid-left {
		float: left;
	}
	.show-grid-right {
		float: left;
	}
	.history-left {
		float: left;
	}
	.history-left p {
		margin: 1.7em 0 0 0;
	}
	.history-right {
		float: left;
	}
	.english-grid {
		margin-top: 0em !important;
	}
	.single-left {
		float: left;
		width: 70%;
	}
	.single-right {
		padding: 2em;
		float: left;
		width: 30%;
	}
	.single-right-grid-left {
		padding: 0;
		margin-bottom: 1em;
	}
	.about-left-grids {
		text-align: center;
	}
	.creators-bottom-grid {
		margin-bottom: 2em;
	}
	.try-left {
		margin-bottom: 2em;
	}
	.try-right-left {
		margin-bottom: 2em;
	}
}
@media (max-width: 800px) {
	form.navbar-form.navbar-right {
		width: 34%;
		margin-left: 4em;
	}
}
@media (max-width: 768px) {
	form.navbar-form.navbar-right {
		margin-left: 3em;
	}
	form.navbar-form.navbar-right {
		width: 33%;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 27em;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 31em !important;
	}
	.time {
		top: 87% !important;
	}
	.clck {
		right: 16%;
	}
	.small-clck {
		right: 19% !important;
	}
	.small-time {
		top: 79% !important;
	}
	.recommended-grids {
		margin: 2em 0;
	}
	.small-time {
	    top: 79% !important;
	}
	.slider-time {
		top: 83% !important;
	}
	.show-clock {
		right: 20%;
	}
	.show-grid-left {
		width: 75%;
	}
	.show-grid-right {
		width: 25%;
	}
	.song {
		width: 100%;
		float: none;
	}
	.song-grid-right {
	    width: 100%;
		margin: 1em 0;
		float: none;
	}
	.share li {
		display: inline-block;
		margin: 0.5em 0 0 .8em;
	}
	.share li.view {
		display: inline-block;
	}
	.movie-clock {
		right: 28% !important;
		bottom: 3%;
	}
	.show-time {
		top: 88% !important;
	}
	.sports-tome {
		top: 84% !important;
	}
	.developers-info h3 {
		font-size: 30px;
	}
	.developers-info {
		width: 75%;
	}
	.developers-info p {
		font-size: 14px;
	}
	.developers-banner {
		padding: 10em 0 7em 0;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-grids {
		padding: 0 2em;
	}
	.footer-bottom ul li.languages {
		width: 21%;
	}
}
@media (max-width: 767px) {
	.sidebar {
		display: block;
	}
	.navbar-inverse .navbar-toggle {
	    display: none;
		float: none;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    display: block;
		border: none;
	}
	form.navbar-form.navbar-right {
		width: 38%;
		margin: 0;
	}
	.top-search form input[type="submit"] {
	    right: 26px;
		top: 18px;
	}
	a.navbar-brand {
	    float: none;
	}
	a.navbar-brand {
	    display: block;
		text-align: center !important;
		width: 25%;
		margin: 0 auto 1em auto;
		padding: 0;
	}
}
@media (max-width: 640px) {
	.sidebar {
		display: block;
	}
	.navbar-inverse .navbar-toggle {
	    display: none;
		float: none;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    display: block;
		border: none;
	}
	form.navbar-form.navbar-right {
		width: 38%;
		margin: 0;
	}
	.top-search form input[type="submit"] {
	    right: 26px;
		top: 18px;
	}
	a.navbar-brand {
	    float: none;
	}
	a.navbar-brand {
	    display: block;
		text-align: center !important;
		width: 25%;
		margin: 0 auto 1em auto;
		padding: 0;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 19em;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 26em !important;
	}
	ul.nav-sidebar {
	    display: block;
		margin-right: 0;
		margin-left: 0;
	}
	.upload-file input[type="file"] {
		left: 44.3%;
		top: 332px;
	}
	.clck {
		right: 20%;
	}
	.time {
		top: 85% !important;
	}
	.small-clck {
		right: 24% !important;
	}
	.small-time {
		top: 75% !important;
	}
	.slider-time {
		top: 80% !important;
	}
	.callbacks_nav {
		right: 10%;
	}
	.footer-bottom ul li.languages {
		width: 30%;
		margin-bottom: 2em;
	}
	.video-grid iframe {
		height: 315px;
	}
	.box input[type="text"], .box textarea {
		width: 100%;
	}
	.box textarea {
		min-height: 130px;
		width: 100%;
	}
	.all-comments-buttons ul li a.top {
		font-size: 12px;
		padding: .5em 1em;
	}
	.show-grid-left {
		width: 100%;
		float: none;
	}
	.show-grid-right {
	    width: 100%;
		float: none;
		padding: 2em 0 2em 2em;
	}
	.show-time {
		top: 88% !important;
	}
	.history-right {
		width: 84%;
	}
	.sports-tome {
		top: 79% !important;
	}
	.about-left {
		margin-bottom: 2em;
	}
	.developers-banner {
		padding: 5em 0;
	}
	.developers-info {
		width: 90%;
	}
	.creators-grids {
		margin: 2em 0 2em;
	}
	.creators-bottom {
		padding: 0em 0;
	}
}
@media (max-width: 480px) {
	a.navbar-brand img {
		width: 100%;
	}
	.file a {
		font-size: 12px;
	}
	.signin a {
		font-size: 12px;
	}
	.top-search form input[type="text"] {
		padding: 6px 30px 6px 12px;
	}
	.form-control {
	      height: 31px;
	}
	a.navbar-brand {
		margin: 0 auto 0em auto;
	}
	.upload-file input[type="file"] {
		left: 41.6%;
		top: 310px;
	}
	.top-navigation {
		padding: 10px;
	}
	.slider-top-grids {
		width: 100% !important;
		float: none !important;
	}
	.recommended-grid-info ul li {
		width: 49%;
	}
	.recommended-grid-info ul li.right-list {
		text-align: right;
	}
	.resent-grid-info p.author a.author {
		padding-left: 2em;
	}
	.slider-first:nth-child(3){
		display:none;
	}
	.slider-first:nth-child(4){
		display:none;
	}
	.slider-first{
		width: 50%;
	}
	.callbacks_nav {
		top: 100%;
	}
	.callbacks_nav {
		right: 15%;
	}
	.callbacks_nav.next {
		right: 4%;
	}
	.recommended-grid {
		width: 50%;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 14em;
	}
	.resent-grid-info p.author-info {
		font-size: 13px;
	}
	.resent-grid-info p.views-info {
		font-size: 13px;
	}
	.footer-bottom ul li.languages {
		width: 36%;
	}
	.bfh-countries {
		height: 35px;
	}
	.time {
		top: 90% !important;
		right: 2%;
	}
	.clck {
		right: 12%;
		bottom: 3%;
	}
	.small-time {
		top: 81% !important;
	}
	.small-clck {
		right: 20% !important;
	}
	.slider-time {
		top: 85% !important;
	}
	.single-left {
		float: none;
		width: 100%;
	}
	.single-right {
		float: none;
		width: 100%;
	}
	.show-clock {
		right: 29%;
	}
	.show-time {
		top: 84% !important;
	}
	.history-right {
		width: 80%;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 18em !important;
	}
	.video-info-grid ul li {
		width: 50%;
	}
	.video-info-grid ul li.right-list {
		text-align: left !important;
	}
	.recommended-grid-movie-info ul li {
		display: block !important;
		width: 100% !important;
	}
	.recommended-grid-movie-info ul li.right-list {
		text-align: left !important;
	}
	.show-time {
		top: 91% !important;
	}
	.movie-clock {
		right: 21% !important;
	}
	.sports-clock {
		right: 27% !important;
	}
	.sports-tome {
		top: 74% !important;
	}
	.creators-banner {
		background: url(../images/create.jpg) no-repeat -11px 1px !important;
		background-size: cover !important;
	}
}
@media (max-width: 320px) {
	a.navbar-brand {
		width: 35%;
	}
	form.navbar-form.navbar-right {
		width: 100%;
		margin: 0;
		float: none !important;
		padding: 0 0 0.5em 0;
	}
	.top-search form input[type="submit"] {
		right: 14px;
		top: 6px;
	}
	.top-search form input[type="text"] {
		padding: 6px 36px 6px 12px;
	}
	.header-top-right {
		float: none;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 8em;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 12em !important;
	}
	.callbacks_nav {
		right: 20%;
	}
	.clck {
		right: 16%;
	}
	.time {
		top: 87% !important;
    }
	.top-navigation {
		font-size: 1.5em;
	}
	.t-img img {
		width: 74%;
	}
	.recommended-info h3 {
	    font-size: 15px;
	}
	.resent-grid-info a.title-info {
		font-size: 14px;
	}
	.recommended-grid-info h3 {
		line-height: .8em;
	}
	.recommended-grid-info a.title {
		font-size: 13px;
	}
	.small-clck {
		right: 27% !important;
	}
	.small-time {
		top: 73% !important;
	}
	.slider-time {
		top: 79% !important;
	}
	.footer-bottom ul li.languages {
		width: 44%;
	}
	.footer-bottom ul li.languages select.form-control {
		font-size: 11px;
	}
	.footer-bottom ul li a.f-history {
		font-size: 12px;
	}
	.heading-right a {
		padding: 5px 15px;
	}
	.heading-right {
		margin: 0em 0 0 3em;
	}
	.show-video-grid {
		width: 100% !important;
	}
	.show-clock {
		right: 30%;
	}
	.small-time {
		top: 75% !important;
	}
	.show-top-grids {
		padding: 0;
	}
	.recommended-info p.history-text {
		font-size: 12px;
	}
	.history-grids {
		margin: 2em 0;
	}
	.history-left p {
		font-size: 14px;
	}
	.history-left {
		width: 60px !important;
		height: 60px;
	}
	.history-right h5 {
		font-size: 14px;
	}
	.news-main-grids {
		padding: 0 0 1em 1em;
	}
	.history-right {
		width: 79%;
	}
	.show-time {
		top: 83% !important;
	}
	.movie-clock {
		right: 26% !important;
	}
	.movie-time {
		top: 88% !important;
	}
	.sports-recommended-grid {
		width: 50% !important;
	}
	.song-info h3 {
		font-size: 15px;
	}
	.video-grid iframe {
		height: 152px;
	}
	.published p {
		font-size: 12px;
	}
	.box input[type="text"], .box textarea {
		padding: 6px 10px;
	}
	.box textarea {
		min-height: 95px;
	}
	.all-comments-buttons ul li {
		margin: 1em;
	}
	.all-comments-buttons ul li:nth-child(1) {
		margin-left: 1em;
	}
	.media-body p {
		font-size: 12px;
	}
	.single-right h3 {
		font-size: 15px;
	}
	ul.nav.nav-sidebar li a {
		font-size: 12px;
	}
	.copyright p {
		font-size: 12px;
	}
	.about-grids {
		margin: 2em 0 2em 0;
	}
	.about-main-grids {
		padding: 0 0 1em 1em;
	}
	.about-left-grids {
		padding: 1em;
	}
	.about-left-info p {
		font-size: 12px;
	}
	.footer-top-nav ul li {
		margin: 0.5em 1em;
	}
	.news-left ol li {
		font-size: 12px;
	}
	.news-right ol li a {
		font-size: 12px;
	}
	.copy-grid h4 {
		font-size: 16px;
		line-height: 1.4em;
	}
	.developers-info h3 {
		font-size: 24px;
	}
	.developers-info p {
		font-size: 12px;
	}
	.creators-banner {
		background: url(../images/create.jpg) no-repeat -118px 0px !important;
		background-size: cover !important;
		padding: 3em 0;
	}
	.creators-top-grid {
		padding: 0;
	}
	.developers-banner {
		padding: 2em 0;
	}
	.creators-grid a {
		font-size: 18px;
	}
	.creators-grid p {
		font-size: 12px;
	}
	.creators-bottom-grids-info h3 {
		font-size: 18px;
	}
	.creators-bottom-grids {
		margin: 2em 0 0 0;
	}
	.creators-bottom-grid {
		padding: 0;
	}
	.creators-bottom-grid p {
		font-size: 12px;
	}
	.developers-grid a {
		font-size: 18px;
	}
	.developers-grid p {
		font-size: 12px;
	}
	.developers-grid {
		padding: 1em;
	}
	.developers-grid {
		margin-bottom: 2em;
	}
	.terms-info-grid p {
		font-size: 12px;
	}
	.feedback-grid p {
		font-size: 13px;
	}
	.try-left {
		padding: 0;
	}
	.try-left-info h3 {
		font-size: 18px;
	}
	.try-left-info p {
		font-size: 12px;
	}
	.try-right-left h3 {
		font-size: 18px;
	}
	.try-right {
		padding: 0;
	}
	.footer-top-nav ul li a {
		font-size: 13px;
	}
	.try-right-left {
		padding: 0;
	}
	.try-right-left p {
		font-size: 12px;
	}
	.try-banner {
		background: url(../images/try-banner.jpg) no-repeat 0px 1px !important;
		background-size: cover;
	}
	.footer-bottom ul li a.f-history {
		padding: .52em 1em .52em 3em;
	}
}